@charset 'UTF-8';


/*
	Style for thead when sorted
*/

.widefat thead tr th:hover {
	cursor: pointer;
}

.widefat thead tr th.sorttable_nosort:hover {
	cursor: default;
}

.add-or-edit-comment {
	width: 100%;
}

table {
	border-collapse:collapse;
	box-shadow:1px 1px 5px #bbb;
	margin-bottom:1.5em;
}

td,th {
	vertical-align:top;
	padding:4px 8px;
	text-shadow:0 1px 0 #fff;
	border: 1px solid #ccc
}

th {
	font-weight:bold;
}

td {
	min-height: 20px;
}

thead {
	background-color: #f0f0f0;
}

th {
	font-weight:bold !important;
}

@media screen and (max-width: 800px) {
	table {
		width:100%;
	}

	thead {
		display:none;
	}
	
	tbody tr:nth-of-type(2n+1) {
		background-color:inherit;
	}
	
	tr td:first-child {
		background:#f0f0f0;
		font-weight:bold;
		font-size:1.3em;
	}
	
	tbody td {
		display:block;
		text-align:center;
	}
}

.hide {
	display: none;
	visibility: none;
}

.no-style {
	color: #555555;
	text-decoration: none;
}